body{
    background: url(img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Titillium Web', sans-serif;
}
main{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.hide{
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}
header{
    width: 100%;
    padding: 50px;
}
h1{
    margin: 0 auto;
    text-indent: -5000px;
    max-width: 350px;
    height: 90px;
    background: url(img/TopLogo.png);
    background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: center center;
    opacity: 0.5;
}
.column{
    width: 35%;
    min-width: 300px;
}
.box{
    margin-bottom: 20px;
    font-size: 1.9rem;
    text-align: center;
    font-weight: 400;
    color: #f7fcff;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75)
}

.form-content{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: #f4f4f4;
    box-shadow: 0 0 0 15px rgba(0, 0, 0, 0.397);
    border-radius: 4px;
    
}
.form-content--inputlabel{
    position: relative;
    margin:5px;
    flex:1;
    min-width: 10%;
    height: 40px;
    box-sizing: border-box;
    border: 1px solid #c6c6c6;
    border-radius: 3px;   
}

.form-content--inputlabel__input{
    border-style: none;
    background: rgba(255,255,255,0.1);
    padding: 10px 34px 10px 60px;
    border-radius: 3px;
    color: #afafaf;
}
.form-content--inputlabel__select{
    border-style: none;
    background: rgba(255,255,255,0.1);
    padding: 5px 59px 7px 60px;
    border-radius: 3px;
    color: #afafaf;
}
.form-content--inputlabel__input:focus{
    border: 1px solid green;
    outline: none;
}
.form-content--inputlabel__input:hover,
.form-content--inputlabel__input:active,
{
    border: 1px solid green; 
}

::-webkit-input-placeholder { font-family: 'Titillium Web', sans-serif; color: #afafaf; font-size: 1.0rem; line-height: 1.2rem; font-weight: 300;}
::-moz-placeholder { font-family: 'Titillium Web', sans-serif; color: #afafaf; font-size: 1.0rem; line-height: 1.2rem; font-weight: 300; }
:-ms-input-placeholder { font-family: 'Titillium Web', sans-serif; color: #afafaf; font-size: 1.0rem; line-height: 1.2rem; font-weight: 300; }
:-moz-placeholder { font-family: 'Titillium Web', sans-serif; color: #afafaf; font-size: 1.0rem; line-height: 1.2rem; font-weight: 300; }

.form-content--inputlabel::before{
    content: "";
    position: absolute;
    left: 54px;
    width: 1px;
    height: 32px;
    background: #e0e0e0;
    top: 3px;
}
.icon--person{
    background: url(img/icon_input_set.svg) 15px 4px no-repeat,linear-gradient(#F8F8F8, #EFEFEF);
    margin-top: 0;
}
.icon--password{
    background: url(img/icon_input_set.svg) 15px -33px no-repeat,linear-gradient(#F8F8F8, #EFEFEF);
}
.icon--email{
    background: url(img/icon_input_set.svg) 15px -67px no-repeat,linear-gradient(#F8F8F8, #EFEFEF);
}
.icon--localization{
    background: url(img/icon_input_set.svg) 15px -100px no-repeat,linear-gradient(#F8F8F8, #EFEFEF);
}
.icon--phone{
    background: url(img/icon_input_set.svg) 15px -100px no-repeat,linear-gradient(#F8F8F8, #EFEFEF);
}
.form-content--checkboxlabel{
    position: relative;
    margin:5px;
    flex:1;
    min-width: 10%;
    height: 40px;
    box-sizing: border-box;
    cursor: pointer;
}
.form-content--checkboxlabel__label{
    cursor: pointer;
    color: #afafaf;
    position: relative;
    top: 5px;
}
.form-content--checkboxlabel__checkbox{
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    width: 22px;
    height: 22px;
    margin: 3px;
    padding: 1px;
    border: 1px solid #c6c6c6;
    border-radius: 3px;
    cursor: pointer;
    float: left;
}
.form-content--checkboxlabel__checkbox:checked::after{
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    top: 50%;
    left: 50%;
    background-color: #93d02b;
    transform: translate(-50%, -50%);
    border-radius: 3px;
}
.form-content--button{
    border-radius: 3px;
    background: #93d02b;
    border: #74a322;
    height: 30px;
    color: #f4f4f4;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75)
}
.form-content--button:hover{
    background: #61881d
}