*{
    box-sizing: border-box;
}
body{
    background: url(img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Titillium Web', sans-serif;
}
main{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.hide{
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}
header{
    width: 100%;
    margin-top: 4.5%;
}
h1{
    margin: 0 auto;
    text-indent: -5000px;
    max-width: 90%;
    height: 111px;
    background: url(img/TopLogo.png);
    background-size:     contain;                      
    background-repeat:   no-repeat;
    background-position: center center;
    opacity: 0.5;
}
p{
    margin: 0;
    letter-spacing: 1px;
}
.column{
    width: 30%;
    min-width: 300px;
    margin: 1.5% 58px 58px;
}
.box-header{
    margin-bottom: 20px;
    font-size: 1.9rem;
    text-align: center;
    font-weight: 400;
    color: #f7fcff;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75)
}

.form-content{
    display: flex;
    flex-direction: column;
    padding: 10px;
    background: #f4f4f4;
    box-shadow: 0 0 0 15px rgba(0, 0, 0, 0.397);
    border-radius: 0.5px;
    
}
.form-content__text-area,
.form-content__row{
    position: relative;
    margin:10px auto;
    flex:1;
    width: 95%;
    min-width: 10%;
    height: 40px;
    border-radius: 3px;
          
}
.form-content__row::before{
    content: "";
    position: absolute;
    left: 60px;
    width: 1px;
    height: 32px;
    background: #e0e0e0;
    top: 3px;
}
.form-content__select,
.form-content__input{
    border-style: none;
    background: rgba(255,255,255,0.1);
    padding: 10px 34px 10px 81px;
    border-radius: 3px;
    border: 1px solid #c6c6c6;    
    color: #afafaf;
    width: 100%;
}
.form-content__input:focus{
    border: 1px solid green;
    outline: none;
}
.form-content__row:hover
.form-content__input:hover
{
    border: 1px solid green; 
}

::-webkit-input-placeholder { font-family: 'Titillium Web', sans-serif; color: #afafaf; font-size: 1.0rem; line-height: 1.2rem; font-weight: 300;}
::-moz-placeholder { font-family: 'Titillium Web', sans-serif; color: #afafaf; font-size: 1.0rem; line-height: 1.2rem; font-weight: 300; }
:-ms-input-placeholder { font-family: 'Titillium Web', sans-serif; color: #afafaf; font-size: 1.0rem; line-height: 1.2rem; font-weight: 300; }
:-moz-placeholder { font-family: 'Titillium Web', sans-serif; color: #afafaf; font-size: 1.0rem; line-height: 1.2rem; font-weight: 300; }

.form-content__icon{
    position: relative;
    height: 100%;
    width: 55px;
    top:-100%;
    background: url(img/icon_input_set.svg) 15px 4px no-repeat;
}
.form-content__icon--person{
    margin-top: 0;
}
.form-content__icon--password{
    background-position:  15px -33px;
}
.form-content__icon--email{
    background-position: 15px -67px;
}
.form-content__icon--localization{
    background-position: 15px -100px;
}
.form-content__checkboxlabel{
    position: relative;
    margin:5px auto;
    flex:1;
    width: 100%;
    min-width: 10%;
    height: 40px;
    display: flex;
    align-items: center;
}
.form-content__label{
    padding: 5px;
}
.form-content__checkbox{
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;  
    width: 20px;
    height: 20px;
    margin: 1%;
    border: 1px solid #c6c6c6;
    border-radius: 3px;
    display: inline-block;
    flex-shrink: 0;
}
.form-content__checkbox:checked::after{
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    top:18%;
    left: 18%;
    border-radius: 3px;
    background: green;
}

.btn{
    width: 100%;
    height: 50px;
    background: rgb(154, 212, 52);
    border-radius: 3px;
    border: 1px solid rgb(59, 154, 0);
    color: white;
    font-weight: bold;
}
:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 100px rgba(244,244,244) inset;
    box-shadow: 0 0 0 100px rgba(244,244,244) inset;
    -webkit-text-fill-color: #afafaf;
}
.form-content__text-area{
    resize: vertical;
    background-color: rgb(244, 244, 244);
    padding: 5px;
    height: 14rem;
}